{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'learneasy/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script type="module" src="{% static 'learneasy/scripts.js' %}"></script>
    <script type="module" src="{% static 'learneasy/utils.js' %}"></script>
    <title>LearnEasy</title>
  </head>
  <body>
    <nav>
      {% if user.is_authenticated %}
      <div class="nav-left">
        <svg id="layout_menu" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#373375"><path d="M144-264v-72h672v72H144Zm0-180v-72h672v72H144Zm0-180v-72h672v72H144Z"/></svg>
        <div id="curtain_menu">
          <div id="curtain_menu__container">
            <ul>
              <li>Modules</li>
              <ul id="curtain_menu__modules">
                {% for module in modules %}
                <li><a href="{% url 'module' module.id %}">{{ module.module_name }}</a></li>
                {% endfor %}
              </ul>
              <li>Texts</li>
              <ul id="curtain_menu__texts">
                {% for text in texts %}
                <li><a href="{% url 'text' text.id %}">{{ text.text_name }}</a></li>
                {% endfor %}
              </ul>
              <li>Groups</li>
              <ul id="curtain_menu__groups">
                {% for group in groups %}
                <li><a href="{% url 'group' group.id %}">{{ group.group_name }}</a></li>
                {% endfor %}
              </ul>
            </ul>
            <svg id="curtain_menu__close" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </div>
        </div>
        {% endif %}
        <a href="{% url 'index' %}"
          ><img
            id="layout_logo"
            src="{% static 'learneasy/logo_learn_easy.png' %}"
            alt="logo_LearnEasy"
        /></a>
        {% if modules %}
        <div class="layout_dropdown">
          <span>Modules</span>
          <div class="dropdown-content">
            {% for module in modules %}
            <a href="{% url 'module' module.id %}">{{ module.module_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if texts %}
        <div class="layout_dropdown">
          <span>Texts</span>
          <div class="dropdown-content">
            {% for text in texts %}
            <a href="{% url 'text' text.id %}">{{ text.text_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if groups %}
        <div class="layout_dropdown">
          <span>Groups</span>
          <div class="dropdown-content">
            {% for group in groups %}
            <a href="{% url 'group' group.id %}">{{ group.group_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <div class="lang_container">
          <span id="layout_lang_title">Learning </span>
          <img src="/static/learneasy/{{ lang }}.svg" alt="de" />
        </div>
        <a href="{% url 'logout' %}" id="nav_logout_text">Log out</a>
        <a href="{% url 'logout' %}" id="nav_logout_icon"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#373375"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>
        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
      <div class="change_lang_modal">
        <div class="change_lang_modal_inner">
          <h1>Learning</h1>
          <form
            action="{% url 'change_lang' %}?next={{ request.path|urlencode }}"
            method="post"
          >
            {% csrf_token %}
            <div class="change_lang_modal_icons_container">
              <img
                class="change_lang_modal_icon {% if lang == 'en' %}change_lang_modal_selected{% endif %}"
                src="{% static 'learneasy/en.svg' %}"
                alt="en"
              />
              <img
                class="change_lang_modal_icon {% if lang == 'de' %}change_lang_modal_selected{% endif %}"
                src="{% static 'learneasy/de.svg' %}"
                alt="de"
              />
              <img
                class="change_lang_modal_icon {% if lang == 'es' %}change_lang_modal_selected{% endif %}"
                src="{% static 'learneasy/es.svg' %}"
                alt="es"
              />
              <img
                class="change_lang_modal_icon {% if lang == 'fr' %}change_lang_modal_selected{% endif %}"
                src="{% static 'learneasy/fr.svg' %}"
                alt="fr"
              />
              <img
                class="change_lang_modal_icon {% if lang == 'it' %}change_lang_modal_selected{% endif %}"
                src="{% static 'learneasy/it.svg' %}"
                alt="it"
              />
            </div>
            <input
              type="hidden"
              name="change_lang_modal_input"
              id="change_lang_modal_input"
              value="{{lang}}"
            />
            <input
              type="hidden"
              name="change_lang_modal_next"
              id="change_lang_modal_next"
              value="{{ request.path }}"
            />
            <button type="submit" id="change_lang_modal_btn">
              Change language
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% block main %} {% endblock %}
    <footer>
      <p>© 2024 LearnEasy by @anautomnee</p>
      <a href="https://github.com/anautomnee"><img src="{% static 'learneasy/footer_icons.png' %}" alt="footer_icons" /></a>
    </footer>
  </body>
</html>
