{% extends "learneasy/layout.html" %} {% block main %} {% load static %}
<div class="register_form_container">
  <form action="{% url 'register' %}" id="register_form" method="post">
    {% csrf_token %}
    <h1>Register</h1>
    {% if message %}
    <div id="reg__message">{{ message }}</div>
    {% endif %}
    <input
      type="text"
      name="register_username_input"
      id="register_username_input"
      placeholder="Username"
      value="{% if username %}{{ username }}{% endif %}"
    />
    <input
      type="email"
      name="register_email_input"
      id="register_email_input"
      placeholder="Email"
      value="{% if email %}{{ email }}{% endif %}"
    />
    <input
      type="password"
      name="register_password_input"
      id="register_password_input"
      placeholder="Create password"
    />
    <input
      type="password"
      name="register_password_confirmation_input"
      id="register_password_confirmation_input"
      placeholder="Confirm password"
    />
    <span>Learning</span>
    <div class="lang_register_container">
      <input
        type="hidden"
        name="register_lang_input"
        id="register_lang_input"
        value="english"
      />
      <img
        class="register_lang_icon register_selected_lang"
        src="{% static 'learneasy/en.svg' %}"
        alt="en"
      />
      <img
        class="register_lang_icon"
        src="{% static 'learneasy/de.svg' %}"
        alt="de"
      />
      <img
        class="register_lang_icon"
        src="{% static 'learneasy/es.svg' %}"
        alt="es"
      />
      <img
        class="register_lang_icon"
        src="{% static 'learneasy/fr.svg' %}"
        alt="fr"
      />
      <img
        class="register_lang_icon"
        src="{% static 'learneasy/it.svg' %}"
        alt="it"
      />
    </div>
    <input
      type="submit"
      value="Register"
      id="register_submit_btn"
      name="register_submit_btn"
    />
    <a href="{% url 'login' %}">Already have an account?</a>
  </form>
</div>
{% endblock %}
