{% extends "learneasy/layout.html" %}

{% block main %}
    <div class="main">
        <h1>Recent modules</h1>
        <div class="recent-modules">
            <a href="#">See all modules</a>
            <div class="recent-modules-grid">
                <div class="module-small-card">
                    <div></div>
                    <h3>Create a new module</h3>
                </div>
            </div>
        </div>
        <h1>Recent texts</h1>
        <div class="recent-texts">
            <a href="#">See all modules</a>
            <div class="recent-texts-grid">
                <div class="texts-small-card">
                    <div></div>
                    <h3>Create a new module</h3>
                </div>
            </div>
        </div>
        <h1>Groups</h1>
        <div class="groups_main_container">
            <div class="grops_main"></div>
        </div>
    </div>
{% endblock %}