{% extends "learneasy/layout.html" %} {% block main %}
<div class="main">
  <h1>Recent modules</h1>
  <div class="recent-modules">
    <a href="#">See all modules</a>
    <div class="recent-modules-grid">
      <a href="{% url 'add_module' %}">
        <div class="module-small-card">
          <div></div>
          <h3>Create a module</h3>
        </div>
      </a>
      {% for module in preview_modules %}
      <a href="{% url 'module' module.id %}">
        <div class="module-small-card">
          <div></div>
          <h3>
            <p class="recent-module-name">{{ module.module_name }}</p>
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <h1>Recent texts</h1>
  <div class="recent-texts">
    <a href="#">See all texts</a>
    <div class="recent-texts-grid">
      <a href="{% url 'add_text' %}">
        <div class="module-small-card">
          <div></div>
          <h3>Create a text</h3>
        </div>
      </a>
      {% for text in preview_texts %}
      <a href="{% url 'text' text.id %}">
        <div class="module-small-card">
          <div></div>
          <h3>
            <p class="recent-module-name">{{ text.text_name }}</p>
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <h1>Groups</h1>
  <div class="groups_div">
    <div id="blur_edge_left"></div>
    <div id="blur_edge_right"></div>
    <div class="groups_main_container">
      <div class="groups_main">
        <a href="{% url 'add_group' %}">
          <div class="group-card">
            <div></div>
            <h3>Create a group</h3>
          </div>
        </a>
        {% for group in groups %}
        <a href="{% url 'group' group.id %}">
          <div class="group-card">
            <div></div>
            <h3>
              <p class="recent-group-name">{{ group.group_name }}</p>
            </h3>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
