{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'learneasy/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="{% static 'learneasy/utils.js' %}"></script>
    <title>LearnEasy</title>
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <a href="{% url 'index' %}"
          ><img
            src="{% static 'learneasy/logo_learn_easy.png' %}"
            alt="logo_LearnEasy"
        /></a>
        {% if modules %}
        <div class="layout_dropdown">
          <span>Modules</span>
          <div class="dropdown-content">
            {% for module in modules %}
            <a href="{% url 'module' module.id %}">{{ module.module_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if texts %}
        <div class="layout_dropdown">
          <span>Texts</span>
          <div class="dropdown-content">
            {% for text in texts %}
            <a href="{% url 'text' text.id %}">{{ text.text_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if groups %}
        <div class="layout_dropdown">
          <span>Groups</span>
          <div class="dropdown-content">
            {% for group in groups %}
            <a href="{% url 'group' group.id %}">{{ group.group_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="nav-right">
        {% if user.is_authenticated %}
        <div class="lang_container">
          <span>Learning </span>
          <img src="/static/learneasy/{{ lang }}.svg" alt="de" />
        </div>
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
      <div class="change_lang_modal">
        <div class="change_lang_modal_inner">
          <h1>Learning</h1>
          <form
            action="{% url 'change_lang' %}?next={{ request.path|urlencode }}"
            method="post"
          >
            {% csrf_token %}
            <div class="change_lang_modal_icons_container">
              <img
                class="change_lang_modal_icon change_lang_modal_selected"
                src="{% static 'learneasy/en.svg' %}"
                alt="en"
              />
              <img
                class="change_lang_modal_icon"
                src="{% static 'learneasy/de.svg' %}"
                alt="de"
              />
              <img
                class="change_lang_modal_icon"
                src="{% static 'learneasy/es.svg' %}"
                alt="es"
              />
              <img
                class="change_lang_modal_icon"
                src="{% static 'learneasy/fr.svg' %}"
                alt="fr"
              />
              <img
                class="change_lang_modal_icon"
                src="{% static 'learneasy/it.svg' %}"
                alt="it"
              />
            </div>
            <input
              type="hidden"
              name="change_lang_modal_input"
              id="change_lang_modal_input"
              value="{{lang}}"
            />
            <input
              type="hidden"
              name="change_lang_modal_next"
              id="change_lang_modal_next"
              value="{{ request.path }}"
            />
            <button type="submit" id="change_lang_modal_btn">
              Change language
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% block main %} {% endblock %}
    <footer>
      <p>© 2024 LearnEasy by @anautomnee</p>
      <img src="{% static 'learneasy/footer_icons.png' %}" alt="footer_icons" />
    </footer>
  </body>
</html>
