{% extends "learneasy/layout.html" %}
{% load static %}

{% block main %}
    <div class="main spell_main">
        <h1>{{ module.module_name }}</h1>
        <p>Remember the term and spell it correctly</p>
        <div class="spell_container {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">
            <div class="spell__message">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#373375"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                <h3>Try again</h3>
            </div>
            {% for card in page_obj %}
                <h2 id="spell__correct" hidden>Correct!</h2>
                <input type="text" id="spellInput" name="spellInput" class="{{ module.id }}">
                <p>{{ card.definition }}</p>
                <div class="spell_container__buttons">
                    <button id="spell_container__buttons__help"><img src="{% static 'learneasy/mdi_magic.png' %}" alt="surprise_icon"> a little help</button>
                    <button id="spell_container__buttons__check">Check</button>
                </div>
                <a href="#">Skip this word</a>
            {% endfor %}
            
        </div>
        
    </div>
{% endblock %}